<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{style.css}" rel="stylesheet" />
    <title>DBFilmes</title>
</head>
<body>
    <h1>DBFilmes</h1>

    <p>O site de avaliação de filmes baseados em opiniões da comunidade!</p>

    <p th:text="${texto}"></p>

    <div class="filmeContainer" th:each="filme: ${filmes}">
        <p th:text="${filme.id}"></p>
        <p th:text="${filme.nome}"></p>

        <img th:src="${filme.link_imagem}">

        <p th:text="${filme.link_imagem}"></p>
        <form th:action="@{/verFilme}" method="GET">
            <input type="hidden" name="id" th:value="${filme.id}">
            <button type="submit">Abrir Filme</button>
        </form>
    </div>

</body>
</html>