<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes DB</title>
</head>
<body>
    <h1>Filmes DB</h1>

    <p>O site de avaliação de filmes baseados em opiniões da comunidade!</p>

    <p th:text="${texto}"></p>

    <table>
        <tr>
            <th>ID</th>
            <th>NOME</th>
        </tr>
        <tr th:each="filme: ${filmes}">
            <td th:text="${filme.id}"></td>
            <td th:text="${filme.nome}"></td>
            <td>
                <form th:action="@{/getFilme}" method="GET">
                    <input type="hidden" name="id" th:value="${filme.id}">
                    <button type="submit">Abrir Filme</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>