<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBFilmes</title>
    <link th:href="@{style.css}" rel="stylesheet" />
</head>
<body>
    <h1>Avaliacoes</h1>
    <p th:text="${filme.id}"></p>
    <p th:text="${filme.nome}"></p>
    <img th:src="${filme.link_imagem}">

    <h3>Escreva uma avaliação!</h3>
    <form th:action="@{/avaliacaoSave}" th:object="${avaliacao}" method="post">
        <input type="hidden" th:field="*{idFilme}" th:value="${filme.id}"/>
        <label for="comment">Seu comentario</label>
        <br>
        <input type="text" id="comment" th:field="*{comentario}">
        <br>
    
        <label for="estrelas">Avaliação (estrelas)</label>
        <br>
        <select id="estrelas" th:field="*{estrelas}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <button type="submit">Enviar</button>
    </form>

    <h3>Comentários da comunidade</h3>

    <div th:each="avaliacao: ${avaliacoes}" class="avaliacao">
        <p th:text="${avaliacao.idUsuario}"></p>
        <p th:text="${avaliacao.idFilme}"></p>
        <p th:text="${avaliacao.estrelas}"></p>
        <p th:text="${avaliacao.comentario}"></p>
    </div>
    
</body>
</html>